

  {% include 'header/index.twig' %}
<div id="mobile" class="demo1">
  <a class="masthead__logo--mobile" href="{{ site.link }}">
    {# <img class="logo" src="{{ logo_purple }}" alt="Ennargy"> #}
  </a>
  <div id="mobileBodyContent">
    {% block content %}
      {{ messages.base.no_content }}
    {% endblock %}
  {% include 'footer/index.twig' %}
  </div>
</div>
