{% extends "base.twig" %}

{% block content %}

<section class="section--ruby wavey-border section--padding">
  <div class="container mpc-typography--preset_0 section__inner">
      <h1 style="text-align: center;">{{ post.title }}</h1>
  </div>
</section>
<section class="section section--off-white section--pb-100">
  <div class="container">
    <h5 class="subtitle is-5">
      <time class="timestamp">
        <small>{{ post.date }} {{ post.time }}</small>
      </time>
    </h5>
    {% if post.can_edit %}
      <div class="edit-post-link"><a href="{{ post.get_edit_url }}">
          <i class="fa fa-pencil" aria-hidden="true"></i> <span>{{ messages.single.edit }}</span></a>
      </div>
    {% endif %}
    <p>
      {{ post.content }}
    </p>
      {% include 'components/social-media.twig' %}
    </div>
  </section>
  {# <section class="comment-box">
    <div class="comments">
      {% if post.comments is not empty %}
        <h3 class="title is-3">{{ messages.single.comments }}</h3>
        {% for comment in post.comments %}
          {% include "comment.twig" %}
        {% endfor %}
      {% endif %}
    </div>

    {% if post.comment_status == "open" %}
      {% include "comment-form.twig" %}
    {% endif %}
  </section> #}
{% endblock %}
