.mpc-textblock h1, // sass-lint:disable-line force-element-nesting
.h1
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif
  font-weight: 700
  font-style: normal
  text-transform: none
  font-size: 70px
  line-height: 82px
  letter-spacing: -0.003em // sass-lint:disable-line leading-zero
  color: #303132

.mpc-textblock h2, // sass-lint:disable-line force-element-nesting
.h2
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif
  font-weight: 600
  font-style: normal
  text-transform: none
  font-size: 42px
  line-height: 54px
  letter-spacing: -0.003em // sass-lint:disable-line leading-zero
  color: #303132

.mpc-textblock h3, // sass-lint:disable-line force-element-nesting
.h3
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif
  font-weight: 700
  font-style: normal
  text-transform: none
  font-size: 35px
  line-height: 50px
  letter-spacing: -0.7px // sass-lint:disable-line leading-zero
  color: #303132

.h4
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif
  font-weight: 300
  font-style: normal
  text-transform: none
  font-size: 28px
  line-height: 42px
  letter-spacing: -0.003px // sass-lint:disable-line leading-zero
  color: rgba(48, 49, 50, 1)

p
  font-size: 16px !important
  line-height: 1.8
  margin-bottom: 1rem
  text-rendering: optimizeLegibility

.mpc-textblock
  h1,
  h2
    font-family: 'Lato', sans-serif !important
    font-weight: 900 !important

  h1
    font-size: 50px !important

  h2
    font-size: 24px !important
