.footer
  padding-bottom: 20px !important
  background: #333 !important
  color: #fff !important
  text-align: left !important
  font-size: 14px !important

  p
    font-size: 14px !important

  h6
    font-size: 14px !important
    font-weight: 700 !important
    padding-bottom: 10px
    margin-bottom: 15px

    &::after
      content: ''
      width: 80px
      display: block
      height: 1px
      background: #fff

  .logo
    width: 50px !important

.footer-backtopwrap
  position: relative
  display: none !important
  @media only screen and (min-width: 768px)
    display: block !important

.footer-backtop
  &::before
    content: ''
    display: inline-block
    width: 0
    height: 0
    border-style: solid
    border-width: 0 30px 20px 30px
    border-color: transparent transparent rgba(255, 255, 255, .4) transparent
    position: absolute
    top: -30px
    left: 50%
    transform: translateX(-50%)

  &:hover
    color: #fff !important

.footer-row2
  margin-top: 50px

.footer-copyright
  align-items: center
  display: flex
  @media only screen and (min-width: 768px)
    text-align: right
    justify-content: flex-end
