// sass-lint:disable-all 
.gform_body // sass-lint:disable-line class-name-format
  input[type=text], // sass-lint:disable-line force-attribute-nesting
  textarea
    margin-bottom: 5px !important

.gform_confirmation_message // sass-lint:disable-line class-name-format
  text-align: center !important
  color: #fff !important

.gfield_label // sass-lint:disable-line class-name-format
  display: none !important

.gform_wrapper // sass-lint:disable-line class-name-format
  .gform_fields
    .gfield
      padding-right: 0

.gform_footer // sass-lint:disable-line class-name-format
  text-align: center !important

.gform_wrapper // sass-lint:disable-line class-name-format
  textarea.medium,
  input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) // sass-lint:disable-line force-pseudo-nesting
    background: rgba(241, 242, 243, 1) !important
    border: none !important
    border-bottom: 1px solid rgba(255, 255, 255, .3) !important
    padding: 10px !important
    outline: none !important
    box-shadow: 0

.gform_button.button
  border: none !important

\::-webkit-input-placeholder
  color: #878787 !important

\::-moz-placeholder
  color: #878787 !important

\:-ms-input-placeholder
  color: #878787 !important

\:-moz-placeholder
  color: #878787 !important

