.hero
  position: relative

  &::after
    @media only screen and (min-width: 992px)
      content: ''
      display: inline-block
      width: 0
      height: 0
      border-style: solid
      border-width: 20px 30px 0 30px
      border-color: rgba(255, 255, 255, .4) transparent transparent transparent
      position: absolute
      bottom: 30px
      left: 50%
      transform: translateX(-50%)

.b-hero
  padding: 100px 20px !important
  text-align: center !important
  font-size: 100px !important
  height: 300px
  position: relative
  @media screen and (min-width: 769px)
    height: 764px
  @media screen and (max-width: 1200px) and (min-width: 769px)
    height: 500px

  .b-hero__title > h1
    opacity: 1
    position: absolute
    left: 50%
    width: 100%
    text-align: center
    top: 50%
    transform: translate(-50%, -50%)

  .b-hero__title--grey > h1
    color: #333 !important

  > .vc_row // sass-lint:disable-line class-name-format
    height: 100%

.b-hero__title
  top: 0
  bottom: 0
  margin: auto
  position: absolute
  left: 0
  right: 0
  justify-content: center
  display: flex

  h1
    color: #fff !important
    font-size: 50px !important
    font-weight: 300 !important
    text-transform: uppercase
    @media screen and (min-width: 992px)
      font-size: 100px !important
