.home-tiles__tile--main,
.home-tiles__secondary
  @media only screen and (min-width: 992px)
    height: calc(100vh - 30px)

.home-tiles__secondary
  .vc_column-inner // sass-lint:disable-line class-name-format
    height: 100%

    .wpb_wrapper // sass-lint:disable-line class-name-format
      height: 100%

      .mpc-row // sass-lint:disable-line nesting-depth
        height: 50%

        .home-tiles__tile // sass-lint:disable-line nesting-depth
          height: 100%

.home-tiles__tile
  position: relative

  .vc_column-inner // sass-lint:disable-line class-name-format
    height: 100%
    @media only screen and (max-width: 991px)
      padding: 7.5em 0

    .wpb_wrapper // sass-lint:disable-line class-name-format
      width: 100%
      height: 100%
      display: flex
      align-items: center
      text-align: center

  &::before
    content: ''
    display: block
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    background: rgba(0, 0, 0, .4)

  .mpc-textblock
    width: 100%

  h2
    display: table
    height: 100%
    line-height: 1
    margin: 0
    position: relative
    z-index: 100
    width: 100%
    color: #fff !important
    text-transform: uppercase !important
    font-size: 54px !important
    font-weight: 300 !important
