.b-image-text-block--right
  .b-image-text-block__content
    z-index: 2000

.b-image-text-block__img
  img,
  .vc_figure, // sass-lint:disable-line class-name-format
  .vc_single_image-wrapper // sass-lint:disable-line class-name-format
    width: 100%

.b-image-text-block__text
  .mpc-textblock
    h4
      font-weight: 200
      font-size: 28px
      text-transform: uppercase
      @media screen and (min-width: 992px)
        font-weight: 200
        font-size: 28px
        text-transform: uppercase

  > .vc_column-inner // sass-lint:disable-line class-name-format
    @media screen and (min-width: 992px)
      width: 120%
      margin-left: calc(-20% + -30px)
      padding: 30px
      margin-top: 30px

  &.b-image-text-block__text--left
    > .vc_column-inner // sass-lint:disable-line class-name-format
      @media screen and (min-width: 992px)
        padding: 30px
        margin-top: 30px
        width: 120%
        margin-left: 0
        margin-right: calc(-20% + -30px)
