.vc_media_grid // sass-lint:disable-line class-name-format
  .vc_gitem-zone // sass-lint:disable-line class-name-format
    @media screen and (max-width: 767px)
      width: 50%
      left: 50%
      transform: translateX(-50%)
