.nav-menu__nav
  top: 0

.nav-menu__logo
  position: absolute
  left: 50px
  top: 30px
  width: 60px
  display: block
  line-height: 1
  z-index: 2

.nav-menu
  background-color: #fff
  display: none
  height: 100vh
  left: 0
  opacity: 0
  padding: 0
  position: fixed
  top: 0
  transition: opacity .3s ease
  width: 100%
  z-index: 2280

  &.open
    opacity: 1

  ul
    position: relative
    top: 30%
    padding-left: 12%

    li
      font-family: 'Lato', sans-serif
      font-size: 40px
      font-weight: 300
      line-height: 1.5
      list-style-type: none

      a
        color: #000
        text-decoration: none

.nav-menu__close
  top: 35px

  &.nav-toggle span // sass-lint:disable-line force-element-nesting
    &::before,
    &::after
      background: #000

.nav-toggle
  cursor: pointer
  padding: 10px 35px 16px 0

  span
    cursor: pointer
    border-radius: 1px
    height: 5px
    width: 35px
    background: #fff
    position: absolute
    display: block
    content: ''

    &::before,
    &::after
      cursor: pointer
      border-radius: 1px
      height: 5px
      width: 35px
      background: #fff
      position: absolute
      display: block
      content: ''
      transition: all 500ms ease-in-out // sass-lint:disable-line no-transition-all

    &::before
      top: -10px

    &::after
      bottom: -10px
      transition: all 500ms ease-in-out // sass-lint:disable-line no-transition-all

  &.active span // sass-lint:disable-line force-element-nesting
    background-color: transparent

    &::before,
    &::after
      top: 0

    &::before
      transform: rotate(45deg)

    &::after
      transform: rotate(-45deg)
