.overlay-nav
  height: auto
  left: 0
  position: absolute
  z-index: 2000
  top: 0
  width: 100%

.overlay-nav__logo
  position: absolute
  left: 50px
  top: 30px
  width: 60px
  display: block
  line-height: 1
  z-index: 2
