.b-text-content__h1
  .mpc-textblock
    > *
      text-transform: uppercase
      text-align: center
      font-weight: 300 !important
      margin-bottom: 40px

.b-text-content__text
  p
    font-size: 18px !important
