.top-nav
  background-color: #fff
  height: 70px
  left: 0
  padding: 0 25px
  position: fixed
  top: -70px
  transition: top .3s ease
  width: 100%
  z-index: 101

  &.show
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1)
    top: 0

.top-nav__logo
  display: block
  width: 60px
  line-height: 1
  position: relative
  top: 50%
  transform: translateY(-50%)

.top-nav__toggle
  color: #000
