.b-work-teasers__title
  .mpc-textblock
    > *
      text-transform: uppercase
      font-size: 28px
      text-align: center
      font-weight: 300 !important
      margin-bottom: 40px

.b-work-teasers__text
  margin-bottom: 20px

  p
    font-size: 18px !important

.b-service-teasers__title
  .mpc-textblock
    > *
      text-transform: uppercase
      font-size: 28px
      text-align: center
      font-weight: 300 !important
      margin-bottom: 40px
