
  {% for item in menu.get_items %}
    {% if item.get_children %}

      <ul class="nav__item has-dropdown is-hoverable">
        <a class="nav__link {{ item.class }}">
          {{ item.title }}
        </a>

        {# Second level menu #}
        <ul class="navbar-dropdown is-hover second-level">
          {% for child in item.get_children %}
            <li class="">
              <a class="navbar-item {{ child.class }} {{ child.get_children ? 'has-children' }}" href="{{ child.link }}">
                {{ child.title }}
              </a>
              {% if child.get_children %}

                {# Third level menu #}
                <div class="navbar-dropdown third-level">
                  {% for grandchild in child.get_children %}
                    <a class="navbar-item {{ grandchild.class }}" href="{{ grandchild.link }}">
                      {{ grandchild.title }}
                    </a>
                  {% endfor %}
                </div>

              {% endif %}
            </li>
          {% endfor %}
        </ul>

      </ul>
    {% else %}
      <a class="nav__item {{ item.class }}" href="{{ item.link }}">
        {{ item.title }}
      </a>
    {% endif %}
  {% endfor %}
