.logo
  width: 120px
  height: auto
  max-height: none !important

.current-template-file-name
  position: fixed
  bottom: 0
  right: 0
  background-color: #1c1e26
  color: #e3b28e
  padding: .2rem 2rem
  z-index: 10000
  border-radius: .5rem 0 0 0
