// sass-lint:disable-all
html
  *
    font-family: 'Lato', sans-serif !important

    .ult_hotspot_container.ult-adjust-bottom-margin.no-margin 
      margin-bottom: 0 !important
body
  -webkit-font-smoothing: antialiased
  font-weight: 300 !important
  color: #5b5b5b

  p
    letter-spacing: .4px

.vc_icon_element-icon // sass-lint:disable-line class-name-format
  font-family: FontAwesome !important

.height-100
  height: 100%

body.home
  .footer,
  .masthead
    display: none
