h1
  font-size: 60px

h2
  font-size: 38px

h3
  font-size: 30px

h4
  font-size: 24px

h5
  font-size: 16px

h6
  font-size: 16px

p
  font-size: 16px

.header
  font-size: 24px

  &--small
    font-size: 16px

  &--red
    color: $brand-ruby

  &--white
    color: #fff


.mpc-row
  p
    margin-bottom: 15px
