<footer class="footer">
  <div class="vc_row wpb_row vc_row-fluid mpc-row">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-2 vc_col-lg-8 mpc-column">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="vc_row wpb_row vc_inner vc_row-fluid mpc-row">
            <div class="wpb_column vc_column_container mpc-column">
              <div class="vc_column-inner">
                <div class="columns">
                  <div class="column">
                    <h6>Address</h6>
                    {{ options.footer.footer_address }}
                  </div>
                  <div class="column">
                    <h6>Contact Details</h6>
                    {{ options.footer.footer_contact }}
                    <p>
                    <a class="vc_icon_element-link" href="https://www.instagram.com/thelightagency/" title="" target="_self"></a>
                    </p>
                  </div>
                  <div class="column footer-sitemap">
                    <h6>Sitemap</h6>
                    <ul>
			{% for link in options.footer.footer_sitemap %}
                      		<li><a href="{{link.link}}">{{link.text}}</a></li>
			{% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="vc_row wpb_row vc_inner vc_row-fluid mpc-row footer-row2">
            <div class="wpb_column vc_column_container mpc-column">
              <div class="vc_column-inner">
                <div class="columns">
                  <div class="column">
                    <img class="logo" src="{{options.footer.footer_logo}}" alt="The Light Logo"/>
                  </div>
                  <div class="column footer-copyright">
                    <small>The Light</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

</div> {# end <div id="app"> #}

{{ function('wp_footer') }}

</body>
</html>
