<head>
  <meta charset="utf-8">

  {# force Internet Explorer to use the latest rendering engine available #}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>
    {% if wp_title %}
      {{ wp_title }} - {{ site.name }}
    {% else %}
      {{ site.name }}
    {% endif %}
  </title>

  {# ldFriendly" content="True"> #}
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="apple-touch-icon" href="">
  <link rel="icon" href="{{ favicon }}">
  <!--[if IE]>
  <link rel="shortcut icon" href="">
  <![endif]-->
  <meta name="msapplication-TileColor" content="#00695C">
  <meta name="theme-color" content="#00695C">
  <meta name="description" content="{{ site.description }}">

  <link rel="pingback" href="{{ site.pingback_url }}"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

  {{ function('wp_head') }}
</head>
