<!doctype html>

<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" {{site.language_attributes}}>
  <!--<![endif]-->

  {# <head> #}
  {% include 'header/_head.twig' %}
  {# </head> #}

  <body class="{{ body_class }}">
    <div class="pageloader is-active"></div>

    {% if not in_production %}
      <div class="current-template-file-name">
        {{ current_template_file }}
      </div>
    {% endif %}
 <div class="nav-menu">
  <div class="nav-menu__nav">
    <a href="/" class="white-logo nav-menu__logo"><img src="{{ options.header_logo_dark }}" alt="The Light Logo"></a>
    <div class="nav-toggle active nav-menu__close"><span></span></div>
  </div>

  <ul>
    {% for item in menu.get_items %}
      <li><a href="{{ item.link }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</div>
<!--end nav-menu-->

<nav class="top-nav">
<a class="top-nav__logo" href="/">
	<img src="{{options.header_logo_dark}}" alt="The Light Logo" />
</a>
<div class="top-nav__toggle nav-toggle"><span></span></div>
</nav>
<!--end top-nav-->

<div class="overlay-nav">
<a href="/" class="overlay-nav__logo">
<img src="{{ options.header_logo_light }}" alt="The Light Logo" />
</a>
<div class="overlay-nav__toggle nav-toggle"><span></span></div>
</div>
<!--end overlay-nav-->
   
 <div id="app">

